extends ../layout

block content
  h1 Identity Theft
  p
    | Identity theft can be devastating. This can occur when someone manages to steal your personal information, such as your Social Security number, login credentials for online accounts, or credit card information.

  p 
    | Certain forms of identity theft are easy to clean up. For example, if someone uses your credit card fraudulently, you can simply report it to your credit card company, which will send you a new card and remove the fraudulent charge from your account. However, if someone uses your information to open credit accounts in your name or file fraudulent health insurance claims or tax returns, it can take months or even years to recover.

  h2 How to Prevent Identity Theft
  ul
    li 
      | VPNs
      p Use virtual private networks (VPNs) when you browse on public Wi-Fi networks.
    li 
      | Phishing
      p Watch out for phishing scams, avoid clicking suspicious links and opening unknown websites.
    li 
      | Passwords
      p Use unique passwords for your online accounts.
    li 
      | Credit Fraud
      p Check your credit reports to spot potential fraud and address it before it makes matters worse.

//-   p.small Information compiled from
//-     a(href='https://www.myfico.com/credit-education/blog/7-financial-literacy-components') https://www.myfico.com/credit-education/blog/7-financial-literacy-components
