extends ../layout

block content
  h1 Stocks
  p
    | Stocks are a type of security that gives stockholders a share of ownership in a company.

  p 
    | Companies sell shares typically to gain additional money to grow the company. This is called the initial public offering (IPO). After the IPO, stockholders can resell shares on the stock market. Stock prices rise or fall and are typically driven by expectations of profits.

  h5 There are two main kinds of stocks, common stock and preferred stock.
  ul
    li 
      | Common Stock
      p Common stock entitles owners to vote at shareholder meetings and receive dividends.
    li 
      | Preferred Stock
      p Preferred stockholders usually don’t have voting rights but they receive dividend payments before common stockholders do, and have priority over common stockholders if the company goes bankrupt and its assets are liquidated.

  h2 Investing: Benefits, Risks, and How to Do It
  h4 Benefits of Investing in Stocks
  p 
    ul 
      li You may receive capital gains from owning a stock that grows in value over time.
      li There may be income from dividends paid by the company.
      li Investors may receive lower tax rates on long-term capital gains.

  h4 Potential Risks of Investing in Stocks:
  p 
    ul 
      li The company's share prices may fall, causing you to lose some money.
      li If the company declares bankruptcy, you may be the last to be paid, so you may not get your money back.
      li The value of your shares can go up and down, and the dividend may vary.

  h4 Risk Management: 
  p
    ul
      li diversify the industries you invest in
      li don't invest all of your money in one company's stock 
      li do you research before investing (look into the industry's prospects, the specific company's quarterly reports, new company initatives, etc.)

  h4 Common Ways to Invest:
  p 
    ul 
      li 
        | Direct Stock Plans Through Companies:
        p Use virtual private networks (VPNs) when you browse on public Wi-Fi networks.
      li 
        | Dividend Reinvestment Plans: 
        p These plans allow you to buy more shares of a stock you already own by reinvesting dividend payments into the company. You must sign an agreement with the company to have this done. Check with the company or your brokerage firm to see if you will be charged for this service.
      li 
        | Discount Or Full-Service Broker:
        p Brokers buy and sell shares for customers for a fee, known as a commission. Many brokers run websites where you can buy stocks.
      li 
        | Index Funds:
        p Stock funds are another way to buy stocks. These are a type of mutual fund that invests primarily in stocks. Stock funds are offered by investment companies and can be purchased directly from them or through a broker or adviser. Popular index funds are the S&P 500 and the NASDAQ-100.

  h4 Shorting 
  p 
    ul
      li essentially like buying stocks, but you gain money if the company's stocks do worse
      li instead of selling a shorted stock, the terminology used is to "buy" a stock

  h2 Trading: what is it and how is it done?
  p 
    | Stock trading is a riskier way of investing, as it broadly refers to the buying and selling of stock, but is usually used to refer to shorter-term investments made by active investors. 

  p Day trading is another way to refer to short-term stock trading. Day trading means buying and selling a batch of securities within a day, or even within seconds. It has nothing to do with investing in the traditional sense. It is exploiting the inevitable up-and-down price movements that occur during a trading session. Day traders are typically well-educated in the minutia of trading and tend to be well funded. Many of them add an additional level of risk by using leverage to increase the size of their stakes. Some methods that day traders use are: ​
  ul
    li Scalping: This strategy focuses on profiting off small price changes and making a quick profit.
    li Range trading: This strategy involves identifying a range at which the investor buys and sells a stock over a short period.
    li News-based trading: This strategy seizes trading opportunities that occur around news events.
    li High-frequency trading (HTF): These strategies use sophisticated algorithms to exploit small or short-term market inefficiencies.

//-   p.small Information compiled from
//-     a(href='https://www.myfico.com/credit-education/blog/7-financial-literacy-components') https://www.myfico.com/credit-education/blog/7-financial-literacy-components
