extends ../layout

block content
  h1 Money Management
  p
    | Learning to manage money while juggling how to assimilate to life abroad can be challenging. Read further to learn how to budget, manage debt, and reach your financial goals.

  h2 Budgeting
  p 
    | A successful budgeting plan consists of: 
    ul
      li How to follow a monthly spending plan
      li Ways for lowering your monthly bills
      li How to handle accrued debt
      li Debt pay-off methods like the snowball and avalanche methods
      li How to distinguish between short-term, medium, and long-term goals
      li A breakdown of family needs

  h2 Debt Management
  p 
    | For many, debt is the biggest obstacle to reaching their financial goals. Certain types of debt, including credit cards, short-term payday loans, and other high-interest debts, can be financially crippling. Even student loans can be a major roadblock, even if the interest rates aren't too high.

    p How You Should Deal with Debt: 
    ul
      li Focus on your high-interest debts and put every free dollar into paying those off.
      li Check your credit rating from all three credit unions and handle the dings first.
      li Consolidate debt if possible. Use a low-interest home equity line of credit if you can.
      li Double up on monthly high-interest payments whenever possible.
      li Review every day-to-day expenditures to find ways to cut back.
      li Get advice from a credit counselor (but avoid the ones who charge fat fees).

  h2 Reaching Your Financial Goals
  p 
    | Create and stick to a budget. For example, a good rule of thumb many follow is the 80/20 method. The 80/20 budgeting method involves saving 20% of your income and limiting your spending to 80% of your earnings. Alternatively, you could do the 50/30/20 method: 50% goes to needs, 30% to wants, 20% to savings.

  | Make sure your goals are SMART:
  ul
    li S: Specific
    li M: Measurable
    li A: Achievable
    li R: Realistic
    li T: Time-bound

//-   p.small Information compiled from 
//-     a(href='https://www.myfico.com/credit-education/blog/7-financial-literacy-components') https://www.myfico.com/credit-education/blog/7-financial-literacy-components