extends ../layout

block content
  h1 Financial Literacy Overview
  p
    | Financial literacy is the ability to understand and implement skills that help improve your money management. Developing a strong sense of financial literacy can help you to achieve your financial goals, whether that be managing debt, building credit, budgeting, or building wealth.

  h2 Interest
  p 
    | Interest is the price you pay to borrow money or the price you charge to lend money.

  | For example, if you take out a loan of $20,000 to buy a car with an 8.75% interest rate and five-year repayment term, your monthly payment would be roughly $413, and you'd owe about $4,765 in interest over those five years. On the other hand, if you're investing $100 per month for 30 years with a 7% return in the stock market, it would give you a $116,945 investment account balance. But if you wait ten years before you begin, you'd only have $50,754.

  p
    | 
    
  | Therefore, it's important to try to avoid high-interest debt and try to invest your money early and often.

  |

  h2 Credit vs. Debit
  p 
    | Credit: A credit score can be a strong indicator of your financial well-being. Credit cards refer to borrowing money from the credit card issuer and paying it back over time. For every month when you don’t pay back the money in full, you’ll be charged interest on your remaining balance.

    | Having a good FICO Score is foundational to your financial health and success. A high FICO Score make it easier to qualify for loans and can also help you secure better terms, such as lower interest rates and reduction of fees. These scores are determined by:
    ul
      li Payment history
      li Amounts owed
      li Length of credit history
      li Credit mix
      li New credit

    | Debit: Debit cards spend the money you already have. They have benefits like no limit on the amount of transactions and rewards based on frequent use. You have the ability to spend without carrying cash, and the money is immediately withdrawn from your account.

  h2 Savings
  p 
    | Savings go hand in hand with budgeting, and it’s vital that you’re able to save properly in case of an emergency or if you want to pursue a big purchase (e.g., a house, car, etc.).

//-   p.small Information compiled from 
//-     a(href='https://www.myfico.com/credit-education/blog/7-financial-literacy-components') https://www.myfico.com/credit-education/blog/7-financial-literacy-components