.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  /* background-color: #f0f0f0; */
  padding: 10px 0;
  z-index: 9999; /* Add a higher z-index value */
}

.small {
  text-align: center;
}
