extends layout

block content
  h1= title
  p Welcome to #[em Finance App].

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Posts:] !{post_count}
    li #[strong Users:] !{user_count}