doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js", integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      $(document).ready(function() {
        $('.dropdown-toggle').on('click', function() {
          $(this).next('.dropdown-menu').toggle();
        });
      })
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/social') Home
              li
                a(href='/social/posts') All posts
              li
                a(href='/social/users') All users
              li
                a.dropdown-toggle(href='#', role='button', id='learnDropdown', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Learn
                .dropdown-menu(aria-labelledby='learnDropdown')
                  a.dropdown-item(href='/learn/overview') Overview
                  a.dropdown-item(href='/learn/money_management') Money Management
                  a.dropdown-item(href='/learn/identity_theft') Identity Theft
                  a.dropdown-item(href='/learn/investing') Investing
              li
                a(href='/leaderboard') Leaderboard
              li 
                a(href='/stocks') Stock Market
              li
                hr
              li
                a(href='/social/user/create') Create new user
              li
                a(href='/social/post/create') Create new post
              li 
                a(href='/social/user/login') Login
        div(class='col-sm-10')
          block content
      footer 
        div(class='container')
          p &copy; 2023. Created by Kevin C, Niki C, Jiayu Y, Jennifer Y
