extends layout

block content
  h1= title
  if stocks && stocks.length > 0
    table
      thead
        tr
          th Stock Symbol
          th Price
          th Volume
      tbody
        each stock in stocks
          tr
            td= stock.symbol
            td= stock.price
            td= stock.volume
  else
    p No stocks available